:root {
  font-size: 16px;
}

*,
html {
  margin: 0;
  box-sizing: border-box;
  scrollbar-gutter: stable;
}

body {
  margin: 0;
  min-height: 100svh;
  width: 100svw;
  background: radial-gradient(
    circle at center,
    #fae69c,
    #fac25b,
    #ffd698,
    #ffb151
  );
  scrollbar-gutter: stable;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#pokemon-logo {
  margin: 2rem 0 4rem 0;
  filter: drop-shadow(0.3rem 0.3rem 0.6rem rgb(32, 32, 32, 0.7));
}

#card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.pokemon-card {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 19rem;
  padding: 0.5rem 1rem;
  filter: drop-shadow(0.3rem 0.3rem 0.6rem rgb(32, 32, 32, 0.7));
  border-radius: 0.7rem;
  color: rgb(15, 15, 15);
  transform-style: preserve-3d;
  transform: perspective(1000px);
}

.pokemon-title {
  text-transform: capitalize;
  text-align: left;
  margin: 0.7rem auto 0 10%;
  background: #fac25b;
  padding: 0.1rem 1rem;
  border-radius: 0.5rem 0.5rem 0 0;
}

.image-container {
  padding: 1rem 3.5rem;
  border-radius: 1rem;
  border: solid 0.3rem hsl(43, 74%, 49%);
}

.pokemon-image {
  width: 9rem;
  height: 9rem;
}

.size-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: #fcbe4c;
  padding: 0.1rem 0.7rem;
  border-radius: 0 0 0.3rem 0.3rem;
  font-size: 0.8rem;
  font-weight: 600;
  margin: 0 0 1rem 0;
}

.pokemon-stats {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 0.25rem;
  font-weight: 600;
  font-size: 0.9rem;
  text-transform: uppercase;
  padding: 0 1rem 0.5rem 1rem;
  border-radius: 0 0 0.5rem 0.5rem;
  margin: 0;
  background: hsl(36, 89%, 83%);
}

.pokemon-stats div {
  display: flex;
  justify-content: space-between;
}

.base-stat {
  font-weight: 600;
}

.pokemon-title,
.pokemon-image,
.pokemon-stats,
.image-container {
  filter: drop-shadow(0.15rem 0.3rem 0.3rem rgba(32, 32, 32, 0.5));
  transform: translateZ(1rem);
}

p {
  margin: 0;
}

button {
  opacity: 0;
}
