:root {
  font-size: 16px;
}

body {
  margin: 0;
}

main {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.pokemon-image {
  width: 10rem;
  height: 10rem;
}

.pokemon-card {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 18rem;
  padding: 0.5rem;
  box-shadow: 0.2rem 0.5rem 0.5rem rgba(32, 32, 32, 0.7);
  border-radius: 0.7rem;
  color: rgb(33, 33, 33);
}

.pokemon-title {
  text-transform: capitalize;
  width: 80%;
  text-align: left;
  margin: 0.7rem 0 0.3rem 0;
}

.pokemon-stats {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 0.25rem;
  text-transform: uppercase;
  margin: 1rem 0;
}

.pokemon-stats div {
  display: flex;
  justify-content: space-between;
}

.image-container {
  padding: 1rem 2.5rem;
  border-radius: 1rem;
  border: solid 0.3rem hsl(43, 74%, 49%);
}

p {
  margin: 0;
}

button {
  opacity: 0;
}
