:root {
  font-size: 14px;
}

*,
html {
  margin: 0;
  box-sizing: border-box;
  scrollbar-gutter: stable;
}

body {
  margin: 0;
  min-height: 100svh;
  width: 100svw;
  /* background: radial-gradient(
    circle at center,
    #fae69c,
    #fac25b,
    #ffd698,
    #ffb151
  ); */
  background: linear-gradient(to bottom, #fac25b, #ffb151);
  /* scrollbar-gutter: stable; */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: relative;
}

header {
  position: sticky;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 20px;
  align-items: center;
  width: 100%;
  top: 0;
  z-index: 3;
  background: #fad99ca2;
  box-shadow: 0 0.3rem 0.6rem rgb(32, 32, 32, 0.7);
  backdrop-filter: blur(0.5rem) saturate(70%);
}

input {
  border: none;
  justify-self: center;
  border-radius: 50rem;
  padding: 0.5rem 1rem;
  box-shadow: 0.15rem 0.3rem 0.3rem rgba(32, 32, 32, 0.5);
}

#page-buttons {
  justify-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10rem;
}

.page-arrow {
  width: 2.5rem;
  height: 2.5rem;
  transition: transform 500ms;
  cursor: pointer;
}

.page-arrow:hover {
  transform: scale(1.05);
  transition: transform 200ms;
}

.page-arrow:active {
  transform: scale(0.95);
  transition: transform 100ms;
}

#previous-page {
  rotate: -90deg;
}

#next-page {
  rotate: 90deg;
}

#pokemon-logo {
  justify-self: center;
  margin: 1rem 0;
  height: 3rem;
  filter: drop-shadow(0.3rem 0.3rem 0.6rem rgb(32, 32, 32, 0.7));
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
}

#card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  max-width: 80%;
}

.pokemon-card {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 1rem 2rem 1rem;
  box-shadow: 0.3rem 0.3rem 0.6rem rgb(32, 32, 32, 0.7);
  border-radius: 0.7rem;
  color: rgb(15, 15, 15);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  text-shadow: 0.1rem 0.1rem 0.2rem hsla(0, 0%, 33%, 0.6);
  cursor: pointer;
}

.pokemon-title-container {
  background: hsl(39, 100%, 63%);
  padding: 0.1rem 1rem;
  border-radius: 0.5rem 0.5rem 0 0;
  margin-left: 10%;
  align-self: flex-start;
}

.pokemon-title {
  text-transform: capitalize;
  font-size: 1.1rem;
}

.image-container {
  padding: 1rem 3.5rem;
  border-radius: 1rem;
  border: solid 0.3rem hsl(43, 74%, 49%);
}

.pokemon-image {
  width: 9rem;
  height: 9rem;
}

.size-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: hsl(39, 100%, 63%);
  padding: 0.1rem 0.7rem;
  border-radius: 0 0 0.3rem 0.3rem;
  font-size: 0.65rem;
  font-weight: 600;
  margin: 0 0 1rem 0;
  box-shadow: 0.1rem 0.1rem 0.2rem hsla(0, 0%, 0%, 0.3);
}

.pokemon-stats {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 0.25rem;
  font-weight: 600;
  font-size: 0.8rem;
  text-transform: uppercase;
  padding: 0 1rem 0.5rem 1rem;
  border-radius: 0 0 0.5rem 0.5rem;
  margin: 0;
  background: radial-gradient(circle, hsl(36, 94%, 86%) 40%, hsl(35, 95%, 76%));
}

.pokemon-stats div {
  display: flex;
  justify-content: space-between;
}

.base-stat {
  font-weight: 600;
}

#modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
  width: 100svw;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.472);
  backdrop-filter: blur(0.3rem);
  z-index: 7;
  visibility: hidden;
}

#info-wrapper {
  background: white;
  width: 70%;
  height: 70%;
}

.pokemon-title-container,
.image-container,
.pokemon-stats {
  box-shadow: 0.15rem 0.3rem 0.3rem rgba(32, 32, 32, 0.5);
  transform: translateZ(1rem);
}

.fade-in {
  animation: fade-in 1000ms ease-in;
}

@keyframes fade-in {
  0% {
    /* opacity: 0; */
    visibility: hidden;
  }
  25% {
    /* opacity: 0; */
    visibility: hidden;
  }
  100% {
    /* opacity: 1; */
    visibility: visible;
  }
}
